@media (max-width: 480px) {
    .body {
        flex-direction: column; 
        align-items: center;    
        margin-top: 20px;       
    }

    .image-tv {
        width: 100%;             
        height: 250px;          
        margin-bottom: 20px;    
    }

    .image-paper {
        width: 80%;             
        height: 450px;
    }

.section3 {
    padding-left: 60px;
   flex-direction: column; 
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
     padding-bottom: 10px;
    
 }

 .subscribe {
    margin-top: 10px;
 }

 img {
    width: 100%;
    height: 250px;
 }

}




@media (min-width: 481px) and (max-width: 768px) {
    .body {
       display: flex;
        align-items: center;    
        margin-top: 20px;       
    }

    .image-tv {
        width: 100%;             
        height: 250px;          
        margin-bottom: 20px;    
    }

    .image-paper {
        width: 80%;             
        height: 450px;
    }

.section3 {
    padding-left: 60px;
   flex-direction: column; 
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
     padding-bottom: 10px;
    
 }

 .subscribe {
    margin-top: 10px;
 }

 img {
    width: 100%;
    height: 250px;
 }

}


@media (min-width: 481px) and (max-width: 1024px) {
    
.section3 {
    padding-left: 60px;
    display: flex;
    margin-bottom: 50px;
 }

  

 img {
    width: 100%;
    height: 250px;
 }

}